<!--Navbar section-->

<link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />


    <!-- font  -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Source+Serif+Pro&display=swap"
          rel="stylesheet" />
        
        <link rel="shortcut icon" href="fevicon icon.ico" type="image/x-icon" />
        </head>
        
        <body>
          <!-- navigation -->
          <nav>
            <a href="/"><img src="creop.png" alt="logo.png" /></a>
            <div class="nav-menu">
              <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/schemes">schemes</a></li>
                      <li><a href="/prescription">Your Data</a></li>
                          <li><a href="/appointment">Appointment</a></li>
                <li id="logOut"><a href="/home">Log Out</a></li>
                
        
              </ul>
            </div>
          </nav>
          <!-- side navigation -->
          <div id="sideNav">
            <nav>
              <h1>HI
              </h1>
              <ul>
                <li><a href="/">Home</a></li>
                  <li><a href="/schemes">schemes</a></li>
                  <li><a href="/prescription">Your Data</a></li>
                  <li><a href="/appointment">Appointment</a></li>
                <li id="logOut"><a href="/home">Log Out</a></li>
              </ul>
            </nav>
          </div>
          <div id="nav-bar">
            <i class="fa-solid fa-bars" id="menu-bar"></i>
          </div>
          <script src="header.js"></script>
        </body>
<!--navbar section completed -->