<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Medistop</title>
    <!-- <link rel="shortcut icon" href="./assets/creop.png" type="image/x-icon"> -->
    <!-- fontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />

    <!-- font  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Source+Serif+Pro&display=swap"
        rel="stylesheet" />

    <link rel="shortcut icon" href="fevicon icon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="./home.css" />
</head>

<body>
    <!-- navigation -->
    <nav>
        <a href="#home"><img src="creop.png" alt="logo.png" /></a>
        <div class="nav-menu">
            <ul>
                <li><a href="#"onclick="lw()">Home</a></li>
                <li><a href="#"onclick="lw()">Schemes</a></li>
                <li><a href="#"onclick="lw()">Your Data</a></li>
                <li><a href="#"onclick="lw()">Appointment</a></li>
            </ul>
        </div>
    </nav>
    <!-- side navigation -->
    <div id="sideNav">
        <nav>
            <ul>
                    <li><a href="#" onclick="lw()">Home</a></li>
                    <li><a href="#" onclick="lw()">Schemes</a></li>
                    <li><a href="#" onclick="lw()">Your Data</a></li>
                    <li><a href="#" onclick="lw()">Appointment</a></li>
            </ul>
        </nav>
    </div>
    <div id="nav-bar">
        <i class="fa-solid fa-bars" id="menu-bar"></i>
    </div>

    <!-- main section one -->
    <main class="one">
        <div class="menu">
            <span id="login-span"><a href="/login" id="login-anchor">Log In</a></span>
            <div class="line"></div>
            <span><a href="/register" id="Registration-anchor">Sign Up</a></span>
        </div>
    </main>

    <!--  section two -->
    <section class="section-two">
        <div class="textMsg">
            <h1>One Stop For Everyone !!</h1>
            <p>
                We are team MediStop leaded by group of four enthusiast, who are charged, foucused and passionate<br />
                to develop a community to help people upgrade there life and feel the joy of leading a healthy life.
            </p>
        </div>

        <div class="maincards">
            <div class="cards">
                <div class="card">
                    <div class="head">
                        <div class="profile"><i class="fa-solid fa-user-group"></i></div>
                        <h4>Unknown User</h4>
                    </div>
                    <div class="main">
                        <p>The user interface, functionality, design, smooth flow, appointmet system, history maintenance, etc. each and every 
                            feature is mind blowing, especially the scheme section kill it hard!
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="head">
                        <div class="profile"><i class="fa-solid fa-user-group"></i></div>
                        <h4>Rahul Sharma</h4>
                    </div>
                    <div class="main">
                        <p>I belong to economically unstable family. From last few months I am suffering from cancer, but dew to lack of money I was 
                            unable to have a treatment. Also, I searched for each and every schemes present out but none of them helped me. Then, one of my friend 
                            directed me to Medistop and by God Grace and I got a free Cancer Treatment Scheme by Central Govt. listed out there . Now my treatment is on progress
                            and will always be thankful of Medistop.
                    
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="head">
                        <div class="profile"><i class="fa-solid fa-user-group"></i></div>
                        <h4>DEV AHUJA</h4> 
                        
                     </div>
                    <div class="main">
                        <p>I'm really very greatful of MediStop community for creating such a wonderful website that helps millions of
                            peoples help there loved ones by providing them prosperous life.
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="head">
                        <div class="profile"><i class="fa-solid fa-user-group"></i></div>
                        <h4>Farhan Akhtar</h4>
                    </div>
                    <div class="main">
                        <p>Last month, I experienced a little bit ache in my stomach, when I filled all the details in Medistop , it suggested me 
                            to reduce the usage of oil. After following all the recommendation , now I'm totally active and healthy . I thank Medistop 
                            for treating me without taking any charges.
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="head">
                        <div class="profile">
                            <i class="fa-solid fa-user-group"></i>
                            <h4>Raju Rastogi</h4>
                        </div>
                    </div>
                    <div class="main">
                        <p>Few days back, I had a chest pain that was increasing day by day and I was avoiding it as it happens with me regularly. My family 
                            suggested me to use Medistop to know if there is any disease. I got advise from the platform to have a heart checkup. And I suprisingly 
                            I had first stage heart hole. I'm really greatful that I'm fit now due to Medistop.
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="head">
                        <div class="profile">
                            <i class="fa-solid fa-user-group"></i>
                            <h4>Anil Kewat</h4>
                        </div>
                    </div>
                    <div class="main">
                        <p>Hello , I'm a huge lover of chinese dishes and prefer to have them in dinner regularly, but few days ago I filled up all the details in 
                            at Medistop and it recommends me to have cholestrol checkup and suprisingly I was found a huge victim of it. So thanking Medistop for helping me out.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- footer -->
    <footer>
        <div class="main-footer">
            <div class="logo"><img src="fevicon.png" alt=""></div>
            <div class="info">
                <h2>Get in Touch</h2>
                <p>Register Now ! Protect Your Life</p>
                <ul>
                    <div class="social">
                        <li><i class="fa-brands fa-linkedin-in"></i></li>
                        <li><i class="fa-brands fa-facebook"></i></li>
                        <li><i class="fa-brands fa-twitter"></i></li>
                    </div>
                </ul>
            </div>
          
           
            
        <h3 id="policy">ALL Right Reserved &copy; Medistop</h3>
    </footer>



    <script src="header.js"></script>
</body>

</html>