<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!--<title>Registration Form in HTML CSS</title>-->
    <!---Custom CSS File--->
    <link rel="stylesheet" href="Information.css" />
  </head>
  <body>
    <section class="container">
      <header>Registration Form </header><br>
      <h2>Personal Information</h2>
      <form action="/userData" class="form" method="post">
        <div class="input-box">
          <label>Full Name</label>
          <input type="text" placeholder="Enter full name" required name="name" />
        </div>

        <div class="input-box">
          <label>Father Name</label>
          <input type="text" placeholder="Enter Father name" required name="fatherName" />
        </div>

        <div class="column">
          <div class="input-box">
            <label>Phone Number</label>
            <input type="number" placeholder="Enter phone number" required name="phone" />
          </div>
          <div class="input-box">
            <label>Birth Date</label>
            <input type="date" placeholder="Enter birth date" required  name="birthDate"/>
          </div>
        </div>
        <div class="gender-box">
          <h3>Gender</h3>
          <div class="gender-option">
            <div class="gender">
              <input type="radio" id="check-male" name="gender" checked />
              <label for="check-male">male</label>
            </div>
            <div class="gender">
              <input type="radio" id="check-female" name="gender" />
              <label for="check-female">Female</label>
            </div>
            <div class="gender">
              <input type="radio" id="check-other" name="gender" />
              <label for="check-other">prefer not to say</label>
            </div>
          </div>
        </div><br>
        <h2> Physical Information </h2>
        <div class="input-box address"> 
        <div class="column">
            <div class="input-box">
              <label>Height</label>
              <input type="number" placeholder="Enter your height" required />
            </div>
            <div class="input-box">
              <label>Weight</label>
              <input type="number" placeholder="Enter your weight" required />
            </div>
          </div>


          <div class="column">
            <div class="input-box">
              <label>Blood Group</label>
              <input type="text" placeholder="Enter Blood Group" required />
            </div>
            <div class="input-box">
              <label>Sugar-level </label>
              <input type="number" placeholder="Enter sugar level" required />
            </div>
          </div>


          <div class="column">
            
            <input type="text" placeholder="Have you suffering from any disease" required />
          </div>
          <div class="column">
            <input type="text" placeholder="Are you sugar patient" required />
            <input type="number" placeholder="Are you BP patient" required />
          </div>
        </div>
        <button type="submit">Submit</button>
      </form>
    </section>
  </body>
</html>