<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Information Assesement</h1>
    <div class="container">
        <form action="">
            <label for="Name">Enter Your Name</label>
<input type="text">

<label for="age">
    <input type="number">
</label>

<label for="Blood-group">Blood Group</label>
<input type="text" placeholder="Enter your Blood group">
        </form>
    </div>
</body>
</html>