<!DOCTYPE html>
<html>
<head>
<title>Prescription</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="prescription.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<style>

</style>
</head>
<body>

<!--navbar-->
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Source+Serif+Pro&display=swap"
        rel="stylesheet" />
      
      <link rel="shortcut icon" href="fevicon icon.ico" type="image/x-icon" />
      <link rel="stylesheet" href="prescription.css" />
      </head>
      
      <body>
        <!-- navigation -->
        <nav>
          <a href="#home"><img src="creop.png" alt="logo.png" /></a>
          <div class="nav-menu">
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/schemes">schemes</a></li>
          <li><a href="/prescription">Your Data</a></li>
            <li><a href="/appointment">Appointment</a></li>
              <li id="logOut"><a href="/home">Log Out</a></li>
      
      
            </ul>
          </div>
        </nav>
        <!-- side navigation -->
        <div id="sideNav">
          <nav>
          
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/schemes">schemes</a></li>
              <li><a href="/prescription">Your Data</a></li>
              <li><a href="/appointment">Appointment</a></li>
              <li id="logOut"><a href="/home">Log Out</a></li>
            </ul>
          </nav>
        </div>
        <div id="nav-bar">
          <i class="fa-solid fa-bars" id="menu-bar"></i>
        </div>

<section class="section about-section gray-bg" id="about">
  <div class="container">
    <div class="row align-items-center flex-row-reverse">
      <div class="col-lg-6">
        <div class="about-text go-to">
          <h3 class="dark-color" id ="name">${name}</h3>
          <h6 class="theme-color lead" id="age">Age : ${age}   <span id="gender">${age}</span></h6>
        
          <div class="row about-list">
            <div class="col-md-6">
              <div class="media">
                <label>Sugar : </label>
                <p id="sugar">100</p>
              </div>
              <div class="media">
                <label>BP</label>
                <p id="BP">100/85</p>
              </div>
              <div class="media">
                <label >Oxygen level</label>
                <p id="oxygen-level">95</p>
              </div>
              <div class="media">
                <label>Blood Group</label>
                <p id="Blood-group">A</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="media">
                <label>Height</label>
                <p id="height">165 cm</p>
              </div>
              <div class="media">
                <label>Weight</label>
                <p id="weight">75kg</p>
              </div>
              <div class="media">
                <label>Eye power :</label>
                -0.2
              </div>
              <div class="media">
                <label>Fitness</label>
                <p>Good</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="about-avatar">
          <img src="avtar.png" title="" alt="" id="image">
        </div>
      </div>
    </div>
    <div class="counter">
    <div class="main">
      <h1>Prescribed medicine </h1>
    
      <div class="fakeimg" style="height:220px;">
        <div class="table-responsive-sm">
          <table class="table">
            <thead class="table-success">
              <tr>
                <th scope="col">Medicine Name</th>
                <th scope="col">Purpose</th>
                <th scope="col">Dosage</th>
                <th scope="col">Route</th>
                <th scope="col">Frequency</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Paracetomal </th>
                <td>For Fever </td>
                <td>1 tablet</td>
                <td>Oral</td>
                <td>Evey 4 hour</td>
              </tr>
              <tr>
                <th scope="row">Vitamin C </th>
                <td>Immune system </td>
                <td>1 tablet</td>
                <td>Oral</td>
                <td>Once a day</td>
              </tr>
              <tr>
                <th scope="row">Vitamin D </th>
                <td>Immune system </td>
                <td>1 tablet</td>
                <td>Oral</td>
                <td>Once a day</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
<br>
<!--Deficiency and allergy -->
<h1> Deficiency and allergy</h1>
<div class="fakeimg" style="height:220px;">
  <div class="table-responsive-sm">
    <table class="table">
      <thead class="table-success">
        <tr>
          <th scope="col">Deficiency</th>
          <th scope="col">Allergy</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Iron </th>
          <td>Cold Drink </td>
        </tr>
        <tr>
          <th scope="row">Vitamin C </th>
          <td>Sweet things</td>
        </tr>
        <tr>
          <th scope="row">Vitamin D </th>
          <td>Junk Food </td>
        </tr>
      </tbody>
    </table>
  </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</section>





  <!--prescribed medicine -->



<script src="prescription.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>



