<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="shortcut icon" href="fevicon.png" type="image/x-icon">
    <link rel="stylesheet" href="register.css" />
    <title>Sign Up</title>
  </head>
  <body>
    <div class="main">
      <img src="creop.png" alt="logo.png">
      <h1>Sign Up</h1>
      <form method="post">
        <input type="text" name="name" placeholder="Name" />
        <input type="email" name="email" placeholder="Email" />
        <input type="password" name="password" placeholder="Password" />
        <button id="registerbtn" type="submit">Sign Up</button>
      </form>
    </div>
  </body>
</html>
