nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    position: sticky;
    width: 100%;
    top: 0;
    height: 10vh;
    z-index: 1;
    background-color: #fff;
}

nav a img {
    height: 80px;
}

.nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-menu ul {
    display: flex;
    align-items: center;
    margin-right: 100px;
    list-style: none;
    column-gap: 50px;
}

.nav-menu ul .menu {
    display: flex;
    column-gap: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #41cec6;
}

a {
    text-decoration: none;
    color: blue;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.menu a {
    color: #fff;
    cursor: pointer;
}

ul li a:hover {
    color: #41cec6;
}

.menu a:hover {
    color: black;
}

.line {
    background-color: #fff;
    min-width: 3px;
    height: auto;
}

nav ul li a{
    color: #000;
}

/* side navigation */
#nav-bar {
    margin-top: 2px;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 30px;
    position: fixed;
    right: 30px;
    top: 15px;
    border-radius: 50%;
    z-index: 2;
    cursor: pointer;
    display: none;
}

#nav-bar i {
    background-color: #41cec6;
    padding: 10px 15px;
    border-radius: 50%;
}


#sideNav {
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background: #009688;
    z-index: 2;
    transition: 0.5s;
}

#sideNav ul li {
    margin: 50px 20px;
    list-style: none;
}

#sideNav ul li a {
    text-decoration: none;
    color: green;
}

#sideNav ul li a:hover {
    color: #11171d;
}

/* responsive */

@media screen and (max-width: 1440px) {
    .nav-menu ul {
        display: none;
    }

    #nav-bar {
        display: block;
    }
}
#button{
    margin-left: 200px;
  
    background-color: #FFF;
    color: black;
    border-radius: 10px;
    position: relative;
    border-color: #0AB3F0;
    font-size: 20px;
    
} 

button:hover {
    color:green;
}
#alert{
    width: 20%;
    position: absolute;
    
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;
  top: 0;
  right: 0;
    background-color: white;
    border :2px solid;
    height: 35px;
    font-size: 20px;
    display: none;
}
#image{
    float: right;
    height: 50px;
    width: 50px;
    font-size: 5px;
    margin-top: 0px;
    margin-bottom: 10px;
}