* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* navigation bar */

nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  position: sticky;
  width: 100%;
  top: 0;
  height: 10vh;
  z-index: 1;
  background-color: #fff;
}

nav a img {
  height: 80px;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-menu ul {
  display: flex;
  align-items: center;
  margin-right: 100px;
  list-style: none;
  column-gap: 50px;
}

.nav-menu ul .menu {
  display: flex;
  column-gap: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #41cec6;
}

a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

.menu a {
  color: #fff;
  cursor: pointer;
}

ul li a:hover {
  color: #41cec6;
}

.menu a:hover {
  color: black;
}

.line {
  background-color: #fff;
  min-width: 3px;
  height: auto;
}

/* side navigation */
#nav-bar {
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 30px;
  position: fixed;
  right: 30px;
  top: 15px;
  border-radius: 50%;
  z-index: 2;
  cursor: pointer;
  display: none;
}

#nav-bar i {
  background-color: #41cec6;
  padding: 10px 15px;
  border-radius: 50%;
}


#sideNav {
  width: 250px;
  height: 100vh;
  position: fixed;
  right: -250px;
  top: 0;
  background: #009688;
  z-index: 2;
  transition: 0.5s;
}

#sideNav ul li {
  margin: 50px 20px;
  list-style: none;
}

#sideNav ul li a {
  text-decoration: none;
  color: #fff;
}

#sideNav ul li a:hover {
  color: #11171d;
}

/* responsive */

@media screen and (max-width: 1440px) {
  .nav-menu ul {
    display: none;
  }

  #nav-bar {
    display: block;
  }
}

*{
  margin: 0; padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all .2s ease-out;
  text-decoration: none;
  }
  :root{
      --black:#444;
      --light-color:#777;
      --box-shadow:.5rem .5rem 0 rgba(22,160,133,.2);
      --text-shadow:.4rem .4rem 0 rgba(0,0,0,0.2);
      --border: .2rem solid black ;
  }
  
  header{
   width: 100%;
   height: 100vh;
   background-image: url('bg.png');
   background-repeat: no-repeat;
   background-size: 100% 100%;
  
  }
  
  .mainheader{
   width: 100%;
   height: 100px;
   display: flex;
   justify-content: space-between;
   align-items: center;
  }
  
  .mainheader .logo img{
   width: 250px; height: 70px;
   padding-left: 60px;
  }
  
  .mainheader nav{
   width: 450px;
   display: flex;
   justify-content: space-around;
   align-items: center;
  }
  
  .mainheader nav a{
   text-decoration: none;
   color: black;
   text-transform: uppercase;
  }
  
  .menubtn{
   margin-right: 60px;
  }
  .mainheader button{
   padding: 10px 45px;
   text-align: center;
   font-size: 14px;
   color: #fff;
   border: none;
   background-image: linear-gradient(to right,#649bff,#0070fa,#649bff);
   border-radius: 10px;
  }
  
  
  main{
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
  }
  
  main .right-sec{
   padding-right: 70px;
  }
  
  main .left-sec{
   padding-left: 100px;
  }
  
  .left-sec h2{
   font-size: 20px;
   text-transform: capitalize;
   font-weight: lighter;
   color: #242424;
   margin-top: 100px;
  }
  
  .left-sec h1{
   font-size: 55px;
   text-transform: capitalize;
   font-weight: 700;
   margin: 15px 0;
  }
  
  .left-sec{
      
  }
  .left-sec p{
   margin-bottom: 20px;
   word-spacing: 2px;
   font-size: large;
   font-weight: bold;
   
  }
  
  .left-sec button{
   padding: 15px 45px;
   text-align: center;
   font-size: 14px;
   color: #fff;
   border: none;
   background-image: linear-gradient(to right,#649bff,#0070fa,#649bff);
   border-radius: 10px;
  }
  
  main .right-section{
   padding-right: 70px;
  }
  
  main .left-section{
   padding-left: 100px;
   height: 200%;
  }
  
  .left-section h2{
   font-size: 20px;
   text-transform: capitalize;
   font-weight: lighter;
   color: #242424;
   margin-top: -100px;
  }
  .left-section {
      height: 200%;
  }
  
  .left-section h1{
   font-size: 55px;
   text-transform: capitalize;
   font-weight: 700;
   margin: 15px 0;
  }
  
  .left-section p{
   margin-bottom: 20px;
   font-size: 25px;
   color: var(--black);
   padding: 10px 5px 0 0;
   color:#0070fa;
   height: 120px;
  
  }
  
  .left-section button{
   padding: 15px 45px;
   text-align: center;
   font-size: 14px;
   color: #fff;
   border: none;
   background-image: linear-gradient(to right,#649bff,#0070fa,#649bff);
   border-radius: 10px;
   margin-top: 250px;
  
  }
  .left-section button a{
      color: white;
  }
  .left-section button a:hover{
      transition: 2s;
      color:antiquewhite;
      background-color: #0070fa;
  }
  
  .icons-container{
      display: grid;
      gap: 2rem;
      grid-template-columns: repeat(auto-fit,minmax(18rem,1fr));
      padding-top: 5rem;
      padding-bottom: 5rem;
  }
  .icons-container .icons{
      background: #fff;
      border: var(--border);
      box-shadow: var(--box-shadow);
      border-radius: .7rem;
      text-align: center;
      padding: 2.5rem;
  }
  
  .icons-container .icons i{
      font-size: 4.5rem;
      color: rgb(56 189 248);
      padding-bottom: .7rem;
  }
  .icons-container .icons h3{
      font-size: 4.5rem;
      color: black;
      padding: .5rem;
      text-shadow: 2px brown;
  }
  .icons-container .icons p{
      font-size: 2.5rem;
      color:rgb(56 189 248);
      padding: .5rem;
  }
  
  
  
  .services .box-container{
      display: grid;
      gap: 2rem;
      grid-template-columns: repeat(auto-fit,minmax(27rem,1fr));
  }
  .services .box-container .box{
      background: #fff;
  border-radius: .3rem;
  width: 80%;
  height: 80%;
  border: var(--border);
  padding: 2.5rem;
  }
  .services .box-container .box i{
      color:rgb(56 189 248);
      font-size: 3rem;
  }
  .services .box-container .box h3{
      color: black;
      font-size: 2.0rem;
      line-height: 2;
      padding: 1rem 0;
  }
  .heading{
      text-align: center;
      padding-bottom: 2 rem;
      text-shadow: var(--text-shadow);
      text-transform: uppercase;
      color: var(--black);
      font-size: 3.0rem;
      left: .4rem;
  }
  .heading span{
  color:rgb(56 189 248);
  }
  .btn{
      display: inline-block;
      margin-top: 1rem;
      padding:.5rem;
      padding-left: 1rem;
      border: var(--border);
      border-radius: .5rem;
      box-shadow: var(--box-shadow);
      color: rgb(56 189 248);
      cursor: pointer;
      font-size: 1.7rem;
  
  }
  .btn span{
      padding: .7rem 1rem;
      border-radius: .5rem;
  background: #fff;
  margin-left: .5rem;
  }
  
  .btn:hover{
  background-color: rgb(56 189 248);
  color:#ffff ;
  transition: 2s;
  }
  .services .box-container .box p{
      color: black;
      font-size: 1.5rem;
      padding: 1rem 0;
      line-height: 2;
  }
  
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 30%;
    margin-bottom: 10px;
    padding: 0 8px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 20px;
   
  }
  
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  .hospital .card h2{
      margin-top: 10px;
      font-weight: bolder;
      text-align: center;
      padding: 2px;
  }
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
    hr{
      padding: 2px;
      color: aliceblue;
    }